<br><br>
<div class="row">
    <div class="col-md-12 pb-2 text-center">
        <h2><b i18n>Nossos Serviços</b></h2>
    </div>
</div>
<div class="col d-flex-2 justify-content-center">
    <div class="card" *ngFor="let servico of servicos">
        <div class="text-center card-body">
            <h5 class="card-title">
                <b>
                    {{ servico.titulo }}
                </b>
            </h5>
            <p class="card-text">{{ servico.descricao }}</p>
            <p *ngIf="servico.itens" class="card-text pt-2">{{ servico.itens }}</p>
        </div>
        <div class="card-footer">
            <div class="text-center">
                <i *ngIf="servico.icone" style="color:#ff5400;" class="{{ servico.icone }} icones-grandes"></i>
            </div>
        </div>
    </div>
</div>