<div class="pb-2 text-center">
    <h2><b i18n>Nossos Serviços</b></h2>
</div>

<div *ngIf="servicos" class="text-center">
    <carousel
        [autoplay]="true"
        [loop]="true"
        [autoplayInterval]="2000"
        [pauseOnHover]="true"
        [dots]="false"
        [arrows]="false"
        [arrowsOutside]="false"
        [cellsToShow]="cellsToShow"
        [cellWidth]="'100%'"
        [height]="350">
        <div class="carousel-cell" *ngFor="let servico of servicos" [id]="servico.id">
            <div class="product-card">
                <div class="text-center">
                    <h5>{{ servico.titulo }}</h5>
                    <p>{{ servico.descricao }}</p>
                    <div class="icon mx-auto">
                        <i class="{{ servico.icone }}"></i>
                    </div>
                </div>
            </div>
        </div>
    </carousel>

    <div class="pt-2">
        <button class="btn btn-warning" [routerLink]="'/services'">
            <b i18n>Saiba Mais</b>
        </button>
    </div>
</div>