$blue: #071a66;
$orange: #ff5400;
$light-gray: #f8f8f8;

.icones-grandes {
    font-size: 2.5rem;
    color: $blue;
}

hr {
    width: 5rem;
}

span {
    font-size: 1.1rem;
}

.d-flex-2 {
    display: flex!important;
}

.fa-question-circle {
    color: $orange!important;
    font-size: 1rem;
}

.card-footer {
    background-color: $light-gray;
    border: 0;
    margin-bottom: 1rem;
}

.card {
    display: inline-block!important;
    max-width: 20rem;
    margin: 0 1.5rem 1.5rem 0;
    background-color: $light-gray;
    border: 0;
    border-radius: 5px;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.3s ease-in-out;
}

.card::after {
    content: "";
    border-radius: 5px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.card:hover {
    -webkit-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05);
}
  
.card:hover::after {
    opacity: 1;
}

.card-text {
    white-space: pre-line;
}

@media (max-width: 768px) {
    .d-flex-2 {
        display: block!important;
    }
}