$orange: #ff5400;
$grey: #333;

a { 
    color: $grey;
    transition: color 0.2s ease-in-out;
}

a:hover { 
    color: $orange!important;
    cursor: pointer;
}

.servicos { 
    text-align: right; 
    margin-right: .5rem;    
    border-right: $orange 1px solid;
}

i {
    font-size: 3rem;
}