<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <carousel
            [objectFit]="'cover'"
            [cellWidth]="'100%'"
            [autoplay]="true"
            [dots]="true"
            [loop]="true">

            <div class="carousel-cell">
                <img src="https://linuxpip.org/ezoimgfmt/raw.githubusercontent.com/linuxpip/imghost/master/20211620272167340-image-20210506103604049.png?ezimgfmt=rs:740x441/rscb10/ng:webp/ngcb10">
            </div>
        </carousel>
    </div>
    <div class="col-md-2"></div>
</div>