<div class="container mb-3">
    <div class="row mb-3 mt-5">
        <div class="col-md-2"></div>
        <div class="col-md-9 mb-2">
            <h4 i18n>Um resumo do que nós fazemos por aqui!</h4>
        </div>
    </div>
    <div class="row  mt-3" *ngFor="let servico of servicos">
        <div class="col-md-3 servicos">
            <i class="{{ servico.icone }}"></i>
        </div>
        <div class="col-md-6">
            <h5>
                <b>{{ servico.titulo }}</b>
            </h5>
            <p>{{ servico.descricao_completa }}</p>
            <ul>
                <li *ngFor="let item of servico.itens">
                    {{ item }}
                </li>
            </ul>
        </div>
    </div>
</div>