img {
    filter: grayscale(100%) saturate(100%);
    -webkit-filter: grayscale(100%) saturate(100%);
    transition: 0.2s;
}

img:hover {
    filter: none;
    -webkit-filter: grayscale(0) saturate(100%) contrast(110%);
}

span {
    text-transform: uppercase;
    padding-right: 4rem;
    cursor: default;
}

hr {
    color: #c7c7c7;
}