hr {
    width: 5rem;
}

input {
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

@media (max-width: 768px) {
    .titulo {
        text-align: center;
    }

    .form {
        margin: 10px;
    }
}