<br><br>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-10">
        <div class="mb-1 titulo">
            <h2><b i18n>Contato</b></h2>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4 form">
        <form [formGroup]="fg" (submit)="enviarEmail()">
            <div class="form-group">
                <input type="text" class="form-control" i18n-placeholder="Seu nome" formControlName="nome">
            </div>
            <div class="form-group mt-2">
              <input type="email" class="form-control" aria-describedby="emailHelp" i18n-placeholder="Seu e-mail" formControlName="email">
              <small id="emailHelp" class="form-text text-muted" i18n>Nunca compartilharemos seu e-mail com mais ninguém.</small>
            </div>
            <div class="form-group mt-3">
                <textarea type="text" class="form-control" i18n-placeholder="Detalhe o que você precisa" rows=5 formControlName="mensagem"></textarea>
            </div>
            <button type="submit" class="btn btn-warning mt-3" i18n>Enviar mensagem</button>
          </form>
    </div>
    <div class="col-md-2"></div>
</div>
<br><br>