<header>
  <div class="navbar bg-white">
    <div class="container d-flex justify-content-between">
      <a routerLink="/" class="navbar-brand d-flex" (click)="scrollToTop()">
        <img id="navbar-logo" alt="Taura Security">
      </a>
      <div class="float-right">
        <span><a (click)="onClick('sobre')" i18n>Sobre Nós</a></span>
        <span><a [routerLink]="'/services'" i18n>Serviços</a></span>
        <span><a onclick="window.location.href = 'mailto:contato@taurasec.com'" i18n>Contato</a></span>
      </div>
    </div>
  </div>
</header>
<script>
  document.querySelectorAll('a[href^="#"]').forEach(anchor => {
    anchor.addEventListener('click', function (e) {
      e.preventDefault();

      document.querySelector(this.getAttribute('href')).scrollIntoView({
        behavior: 'smooth'
      });
    });
  });
</script>