@import "./../../../assets/vars";

#navbar-logo {
    content: url('../../../assets/img/logo.png');
    max-width: 192px;
}

#navbar-logo .scrolled {
    content: url('../../../assets/img/cachorro.png');
    transition: background-image $transition linear;
}

.float-right span {
    padding-right: 1.5rem;
}

nav { z-index: 99999; }

span {
    text-decoration: none !important;
    color: #333;
    font-weight: 400;
    transition: font-weight color $transition;
}

span:hover {
    text-decoration: none !important;
    color: $orange;
    font-weight: 500;
}