<div class="row apresentacao">
    <div class="col-md-2"></div>
    <div class="col-md-3 relative">
        <div class="vertical-center">
            <h2><b i18n>Sobre Nós</b></h2>
            <p i18n>
                Somos uma empresa de segurança da informação, focada em proteger o novo mundo da tecnologia, 
                ajudando nossos clientes a identificarem seus riscos e mitigá-los da melhor maneira.
            </p>
            <p i18n>
                Possuímos como diferencial, profissionais com <i>expertise</i> em modelos de infraestrutura e 
                arquiteturas que utilizam as principais tecnologias de ponta do mercado.
            </p>
            <br>
            <div class="text-center">
                <img 
                    src="../../assets/img/{{ certificacao.arquivo }}.png" 
                    [alt]="certificacao.nome" 
                    [title]="certificacao.nome" 
                    [ngStyle]="props"
                    *ngFor="let certificacao of certificacoes">
            </div>
        </div>
    </div>
    <div class="col-md-7" id="apresentacao_imagem">
        <div class="c-glitch" style="background-image: url('https://i.imgur.com/YOJieND.png');">
            <div class="c-glitch__img" style="background-image: url('https://i.imgur.com/cHCIGlh.png');"></div>
            <div class="c-glitch__img" style="background-image: url('https://i.imgur.com/cHCIGlh.png');"></div>
            <div class="c-glitch__img" style="background-image: url('https://i.imgur.com/cHCIGlh.png');"></div>
            <div class="c-glitch__img" style="background-image: url('https://i.imgur.com/cHCIGlh.png');"></div>
            <div class="c-glitch__img" style="background-image: url('https://i.imgur.com/cHCIGlh.png');"></div>
        </div>
    </div>
</div>