<div class="row apresentacao">
    <div class="col-md-2"></div>
    <div class="col-md-3 relative">
        <div class="vertical-center">
            <h1><b>Lorem ipsum</b></h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore 
                et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut 
                aliquip ex ea commodo consequat.
            </p>
            <button class="btn btn-warning btn-lg">
                Saiba mais  
            </button>
        </div>
    </div>
    <div class="col-md-7" id="apresentacao_imagem">
        <div class="c-glitch" style="background-image: url('https://i.imgur.com/YOJieND.png');">
            <div class="c-glitch__img" style="background-image: url('https://i.imgur.com/cHCIGlh.png');"></div>
            <div class="c-glitch__img" style="background-image: url('https://i.imgur.com/cHCIGlh.png');"></div>
            <div class="c-glitch__img" style="background-image: url('https://i.imgur.com/cHCIGlh.png');"></div>
            <div class="c-glitch__img" style="background-image: url('https://i.imgur.com/cHCIGlh.png');"></div>
            <div class="c-glitch__img" style="background-image: url('https://i.imgur.com/cHCIGlh.png');"></div>
        </div>
    </div>
</div>