$yellow: #ff5400;
$blue: #071a66;
$lightGrey: #d9d9d9;
$grey: #333;

body {
    font-family: 'Mulish', sans-serif;
}

p, span, h1, h2, h3, h4, h5  {
    cursor: default;
}

h1, h2, h3 {
    font-family: 'Signika Negative', sans-serif;
}

h1 {
    font-size: 3em;
}

::-moz-selection { background: $blue; color: white; }
::selection { background: $blue; color: white; }

footer *:not(a) {
    cursor: default!important;
}

footer {
    background-color: $grey;
}

a {
    text-decoration: none !important;
    color: $grey
}

a:hover {
    text-decoration: none !important;
    color: $blue;
    font-weight: bold;
}

footer a {
    text-decoration: none !important;
    color: #d3d7db;
}

footer a:hover {
    text-decoration: none !important;
    color: $yellow;
    font-weight: normal;
}

.btn-warning {
    background-color: #071a66!important;
    color: white;
    border-color: white;
}

.btn-warning:hover {
    color: $lightGrey;
    border-color: white;
}

#copyright {
    font-size: 0.8em;
    color: $lightGrey;
}

hr {
    color: rgb(90, 90, 90);
}